<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>193909546294-tvq7sgps71hrmrpa46teesf99tk17ulc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.193909546294-tvq7sgps71hrmrpa46teesf99tk17ulc</string>
	<key>API_KEY</key>
	<string>AIzaSyB2y5H6wSQJfrN5Ex8x53GlWUjRfT8pK1s</string>
	<key>GCM_SENDER_ID</key>
	<string>193909546294</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.stackOverflow</string>
	<key>PROJECT_ID</key>
	<string>stack-overflow-2c539</string>
	<key>STORAGE_BUCKET</key>
	<string>stack-overflow-2c539.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:193909546294:ios:df253534ae44470668e797</string>
</dict>
</plist>